---
interface Props {
  icon: string;
  title: string;
  description: string;
  link: string;
}

const { icon, title, description, link } = Astro.props;
---

<a
  href={link}
  class="link-list-item bg-gray-30 my-2 flex h-18 w-full transform-gpu cursor-pointer items-center justify-evenly rounded-4xl border-[1px] border-gray-200 p-2 text-[rgb(48,48,48)] no-underline transition-transform duration-200 ease-out hover:translate-y-[4%] hover:scale-[1.04] hover:text-[rgb(80,80,80)] hover:shadow-[0px_4px_20px_rgba(0,0,0,0.1)]"
>
  <span class="m-2 flex">
    <img src={icon} class="h-12 w-12" />
  </span>
  <span class="w-[45%]">
    <div class="text-size-5 h-8 w-full font-bold">
      {title}
    </div>
    <div class="text-size-4 flex h-6 w-full items-center justify-start font-light">
      {description}
    </div>
  </span>
  <span class="flex">
    <span class="h-3 w-3 rounded-full bg-green-400"></span>
  </span>
</a>
