---
import { dataFormat } from "@/config";
import dayjs from "dayjs";

import NormalListItem from "@/components/NormalListItem.astro";
import rss from "@/assets/icon/rss.svg";

interface Props {
  pageName?: string;
}
const { pageName } = Astro.props;
---

<style is:global>
  .rss-subscription {
    will-change: transform;
    transition: transform 500ms cubic-bezier(0.51, -0.01, 0.01, 1);
  }
  .rss-subscription:hover {
    transform: scale(1.2) translateY(4px);
  }
</style>
<div
  class="mx-auto w-full flex flex-col justify-between items-center"
>
  <div class="text-weight-500 mt-9 text-center text-4xl font-bold">{pageName}</div>
  <div class="m-6 flex items-center justify-center gap-4">
    <a
      href="index.xml"
      class="rss-subscription border-1 flex items-center justify-center gap-2 rounded-full border-gray-300 bg-gray-50 px-3 py-1 text-xs text-gray-600 hover:border-gray-400 dark:border-neutral-800 dark:bg-neutral-800 dark:text-gray-400 dark:hover:border-gray-600 dark:hover:text-gray-50"
    >
      <span>RSS 订阅</span>
      <span class="icon inline-block align-text-bottom">
        <img src={rss.src} class="h-3 w-3 opacity-60" />
      </span>
    </a>
  </div>
  <div class="my-6 flex w-full flex-col items-start justify-around xl:items-center">
    <NormalListItem
      title="文章标题"
      description="文章描述"
      link="https://example.com"
      pubDate={dayjs().format(dataFormat)}
    />
  </div>
</div>
