---
interface Props {
  name: string;
}

const { name } = Astro.props;
---

<div
  class="text-weight-500 mb-2 mt-6 flex w-full items-center justify-start px-2 text-3xl font-bold"
>
  <h1>{name}</h1>
  <a
    class="sharp-btn ease mx-3 cursor-pointer opacity-0 transition-opacity duration-200 hover:opacity-20"
  >
    #
  </a>
</div>
<hr class="w-full border-t-2 border-gray-200 dark:border-neutral-800" />
