---
import { theme } from "@/config";

import BaseHead from "@/components/BaseHead.astro";
import BaseFooter from "@/components/BaseFooter.astro";
import NavBar from "@/components/NavBar.astro";
import MdTitleEffect from "@/components/md-title-effect";
import { cn } from "@/utils";

const { navbar } = theme;

interface Props {
  title?: string;
  article?: boolean;
}

const { title, article } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead title={title} />
    <script is:inline>
      (function () {
        try {
          const stored = localStorage.getItem("page-width");
          const width = stored ? stored : "1280px";
          document.documentElement.style.setProperty("--page-width", width);
        } catch (e) {
          console.error(e);
          document.documentElement.style.setProperty("--page-width", "1280px");
        }
      })();
    </script>
  </head>
  <body class="min-h-screen flex flex-col">
    <NavBar items={navbar.items} article={article} />
    <div class="w-full flex-1">
      <div
        class={cn(
          "mx-auto flex justify-center items-center duration-500",
          article ? "max-w-[var(--page-width,1280px)]" : "max-w-1280px",
        )}
      >
        <main class=`max-w-6xl w-full break-words flex min-w-0 justify-center pb-8`>
          {
            article ? (
              <article class="prose w-full min-w-0 max-w-6xl px-6 pt-4 md:px-12">
                <slot />
              </article>
              <style is:inline>
                .prose h1,
                .prose h2,
                .prose h3,
                .prose h4,
                .prose h5,
                .prose h6 {
                  margin: 2px;
                  position: relative;
                  width: 100%;
                  padding-bottom: 10px;
                  border-bottom: 2px solid rgba(230, 230, 230, 0.911);
                  --md-after-opacity: 0;
                }
                .prose h1::after,
                .prose h2::after,
                .prose h3::after,
                .prose h4::after,
                .prose h5::after,
                .prose h6::after {
                  content: "#";
                  margin: 10px;
                  opacity: var(--md-after-opacity);
                  transition: opacity 200ms ease;
                }
                .prose h1:hover,
                .prose h2:hover,
                .prose h3:hover,
                .prose h4:hover,
                .prose h5:hover, 
                .prose h6:hover {
                  --md-after-opacity: 0.2;
                }
                .prose ul {
                  list-style-type: disc;
                  margin: 15px 10px;
                }
                .prose li {
                  margin: 6px 0 6px 0;
                }
                .prose li a {
                  color: rgb(54, 151, 231);
                  text-decoration: underline;
                  text-underline-offset: 3px;
                }
                .prose p {
                  margin: 15px 5px 25px 5px;
                }
                .prose p a {
                  color: rgb(54, 151, 231);
                  text-decoration: underline;
                  text-underline-offset: 3px;
                }
                .prose img {
                  margin: auto;
                  margin-top: 40px;
                  margin-bottom: 40px;
                }
              </style>
              <MdTitleEffect client:load/>
            ) : (
              <div class="w-full min-w-0 max-w-6xl px-6 pt-4 md:px-12">
                <slot />
              </div>
            )
          }
        </main>
      </div>
    </div>
    <BaseFooter />
  </body>
</html>
